@import '~@phosphor/default-theme/style/index.css';

body {
  background-color: #fafafa;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.widget {
  background: white;
  border: 1px solid #c0c0c0;
  border-top: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 50px;
  min-width: 200px;
}

.widget > .loading-indicator {
  align-items: center;
  display: none;
  height: 100%;
  justify-content: center;
}

.widget > .placeholder {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.p-TabBar-tab {
  flex: 0 1 auto;
}

#app {
  display: flex;
  flex: 1;
}

#exploration-widget {
  background-color: white;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}


#layout {
  padding: 4px;
}

#layout-wrapper {
  flex: 1 1 auto;
  padding: 4px;
}

#copy-right {
  font-size: x-small;
  margin-right: 10px;
}

#footer {
  display: flex;
  padding-bottom: 4px;
  padding-left: 5px;
}

#imprint-data-protection-policy-link {
  cursor: pointer;
  font-size: x-small;
}
