#parameter-ui {
    overflow-y: auto;
    padding: 15px;
}

#parameter-ui div.list-group-item {
    cursor: pointer;
}

#parameter-ui div.list-group-item>div {
    display: flex;
    justify-content: space-between;
}

#parameter-ui div.list-group-item>small {
    color: rgba(0, 0, 0, 0.67);
}

.graph-button {
    margin-left: 5px;
}

#vertices-parameter {
    width: 50px;
}

.parameter-view {
    display: flex;
    justify-content: center;
    align-items: center;
}